@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,500;2,600&display=swap');

:root {
    --font-family: 'Nunito', sans-serif;
    --primary-bg-color: #000;
    --seconday-bg-color: #121212;
    --primary-highlight-color: #282828;
    --secondary-highlight-color: #181818;
    --primary-font-color: #fff;
    --seconday-font-color: #b3b3b3;
    --success-green-color: rgb(95 177 104);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--font-family);
}

section {
    display: flex;
    overflow-y: hidden;
}

aside {
    flex: 0 0 18%;
    max-width: 18%;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    position: fixed;
    height: 100%;
    z-index: 7;
}

main {
    flex: 0 0 82%;
    max-width: 82%;
    background-color: var(--seconday-bg-color);
    color: var(--primary-font-color);
    margin-left: 18%;
}

aside .logo {
    padding: 20px;
}

aside .logo img {
    width: 80%;
}

aside .logo img {
    max-width: 100%;
    height: auto;
}

aside ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

aside ul.menu li.menu-item {
    padding: 10px 20px 10px 30px;
    position: relative;
    z-index: 1;
    border-left: 5px solid transparent;
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

aside ul.menu li.menu-item:hover {
    border-left: 5px solid var(--success-green-color);
}

aside ul.menu li.menu-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

aside ul.menu li.menu-item:hover::before {
    background-image: linear-gradient(to right, rgba(95, 177, 104, .3) 5%, transparent 100%);
}

aside ul.menu li.menu-item i {
    font-size: 24px;
}

aside ul.menu li.menu-item span {
    margin-left: 15px;
}

main header.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    z-index: 6;
    background-color: var(--seconday-bg-color);
    box-shadow: 0 2px 4px 0 rgba(45, 27, 27, 1), 0 4px 12px 0 rgb(18, 18, 18) ;
}

main header.header .search-box {
    max-width: 350px;
    width: 100%;
    position: relative;
}

main header.header .search-box input {
    font-size: 15px;
    padding: 5px 15px;
    padding-left: 40px;
    height: 45px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: none;
    width: 95%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    color: var(--seconday-font-color);
}

main header.header .search-box input:placeholder {
    color: var(--seconday-font-color);
}

main header.header .search-box input:focus {
    outline: none;
    width: 100%;
}

main header.header .search-box i {
    position: absolute;
    top: 26%;
    left: 10px;
    color: var(--seconday-font-color);
    font-size: 24px;

}

main header.header ul.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main header.header ul.options li.option-item {
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
}

main .container {
    padding: 40px 30px;
    margin: 100px auto;
}

main .container .feature:not(:last-child) {
    margin-bottom: 25px;
}

main .container .feature .feature-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .container .feature .feature-title h5 {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

main .container .feature .feature-title span {
    font-size: 16px;
    color: var(--seconday-font-color);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
    cursor: pointer;
}

main .feature ul.featured-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

main .feature ul.featured-list li.featured-item {
    display: inline-block;
    padding: 20px 20px 25px;
    border-radius: 10px;
    background-color: var(--secondary-highlight-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 15px;
    width: 20%;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    position: relative;
}

main .feature ul.featured-list li.featured-item:hover {
    background-color: var(--primary-highlight-color);
}

main .feature ul.featured-list li.featured-item:not(:last-child) {
    margin-right: 15px;
}

main .feature ul.featured-list li.featured-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

main .feature ul.featured-list li.featured-item .playSong {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

main .feature ul.featured-list li.featured-item .playSong i {
    position: absolute;
    top: 50%;
    left: 54%;
    font-size: 35px;
    color: rgba(95, 177, 104, 1);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

main .feature ul.featured-list li.featured-item:hover .playSong {
    opacity: 1;
}

main .feature ul.featured-list li.featured-item h6 {
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 5px;
}

main .feature ul.featured-list li.featured-item span {
    color: var(--seconday-font-color);
    text-transform: capitalize;
    font-size: 15px;
}

.player {
    position: fixed;
    padding: 15px 25px;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--primary-highlight-color);
    background-color: var(--secondary-highlight-color);
}

.player .play-card {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.player .play-card img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: rotate 3s linear infinite;
    -webkit-animation: rotate 3s linear infinite;
    /* animation-play-state: paused; */
    animation-play-state: running;
}

.player.play .play-card img {
    animation-play-state: running;
}

.player .play-card .song {
    width: 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.player .play-card .song::before {
    /* background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2)); */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to right, transparent 70%, #181818);
}

.player .play-card .like {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--primary-font-color);
    font-size: 22px;
}

.player .play-card .like i {
    padding: 7px;
    cursor: pointer;
}

.player .play-card p {
    font-size: 17px;
    margin-bottom: 5px;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    color: var(--primary-font-color);
}

.player .play-card span {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--seconday-font-color);
}

.player .play-progress {
    height: 100%;
    width: 50%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    align-items: center;
    color: var(--primary-font-color);
}

.player .play-progress .play-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.player .play-progress .play-options .option {
    padding: 2px 10px;
    font-size: 20px;
    color: var(--seconday-font-color);
    cursor: pointer;
}

.player .play-progress .play-options .option.play {
    font-size: 40px;
}

.player .play-progress .play-options .option:hover {
    color: var(--primary-font-color);
}

.player .play-progress .progress-container {
    background: var(--seconday-font-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    height: 4px;
    width: 100%;
}

.player .play-progress .progress-container .progress {
    background-color: var(--primary-font-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 100%;
    width: 20%;
    transition: width 0.1s linear;
    -webkit-transition: width 0.1s linear;
    -moz-transition: width 0.1s linear;
    -ms-transition: width 0.1s linear;
    -o-transition: width 0.1s linear;
}

.player .play-extras {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--primary-font-color);
}

.player .play-extras .extra {
    font-size: 22px;
    padding: 5px;
    color: var(--seconday-font-color);
    cursor: pointer;
}

.player .play-extras .extra:hover {
    color: var(--primary-font-color);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}